{% extends 'rambleon/base.html' %}

{% block title %} Ramble Online - Login {% endblock %}

{% block content %}


Username: <input type="text" name="user" id="loginUser"><br />
Password: <input type="password" name="pass" id="loginPass"><br />
<button onClick="sendData();" name="Send">Send Data</Button>

<p id="message">

</p>

<script type="text/javascript">
function sendData(){
	var data = JSON.stringify({
		"user": $('#loginUser').val(),
		"passw": $('#loginPass').val(),
	});
	// var data = 'user=' + $('#loginUser').val() + '&passw=' + $('#loginPass').val()

	$.ajax({
		url: 'http://localhost:8000/api/v1/login/',
		//url: 'http://www.rambleonline.com/api/v1/login/',
		type: 'POST',
		contentType: 'application/json',
		data: data,
		dataType: 'json',
		crossDomain: true,
		processData: false,
		success: function(data, status, jqXHR) {
			$('#message').html(data.key)
		},
		error: function(jqXHR, textStatus, errorThrown) {
			$('#message').html(jQuery.parseJSON(jqXHR.responseText).error_message)
		}
	})

}




</script>



{% endblock %}